{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des Coasters</h1>
<a href="{{ path('app_coaster_add') }}" class="btn btn-success">Ajouter un coaster</a>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Nom</th>
        <th>Longueur</th>
        <th>Vit. Max.</th>
        <th>Haut. Max.</th>
        <th>En fonction</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in entities %}
      {# tr>td*6 #}
        <tr>
            <td><strong>{{ entity.name }}</strong></td>
            <td>{{ entity.length }}</td>
            <td>{{ entity.maxSpeed }}</td>
            <td>{{ entity.maxHeight }}</td>
            <td>{{ entity.operating ? '🟢​':'🔴​' }}</td>
            <td>
              <a href="{{ path('app_coaster_edit', {id: entity.id}) }}" class="btn btn-accent btn-sm">Modif.</a>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}