{% extends 'base.html.twig' %}

{% block title %}Park index{% endblock %}

{% block body %}
    <h1>Park index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>OpeningYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for park in parks %}
            <tr>
                <td>{{ park.id }}</td>
                <td>{{ park.name }}</td>
                <td>{{ park.country }}</td>
                <td>{{ park.openingYear }}</td>
                <td>
                    <a href="{{ path('app_park_show', {'id': park.id}) }}">show</a>
                    <a href="{{ path('app_park_edit', {'id': park.id}) }}" class="btn btn-accent btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_park_new') }}">Create new</a>
{% endblock %}
